In [111]:
import numpy as np
import pandas as pd
from sklearn.mixture import GaussianMixture
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
import random
from sklearn.cluster import KMeans

In [115]:
# Data = pd.read_excel('dataset-raw.csv.xlsx')
Data = pd.read_csv('dataset-raw.csv')

In [116]:
# Data["target"].replace({2: 0}, inplace=True)
# target = Data['target'].to_list()
# Data = Data.drop('target' ,axis=1)
# Data=Data.drop('text' ,axis=1)
Data=Data.drop('id' ,axis=1)
# Data=Data.drop('search_keyword' ,axis=1)
# Data = Data.dropna()
Data

,search_keyword,text,followers_count,followings_count,listed_count,statuses_count,user_effect,retweet_count,tweet_length,time_span,registration_age,registration_age_days,hashtags_count,r_score,target
0,دانش آموز اصفهانی,ماجرای دختر اصفهانی!\nدیروز دوم اسفند وقتی که ...,453,622,0,263,0.728,0,291,338,0,338,0,0.421,0.0
1,دانش آموز اصفهانی,این تصویر #سارا_شیرازی دانش آموز و دختری خردسا...,2791,2305,0,835,1.211,19,275,3580,9,3581,3,0.548,1.0
2,دانش آموز اصفهانی,ماجرای دختر اصفهانی!\nدوم اسفند وقتی که مدرسه ...,226,555,1,1126,0.407,0,299,119,0,120,0,0.289,0.0
3,دانش آموز اصفهانی,کار مادر دانش آموز اصفهانی خیلی خیلی غلط و ناپ...,1532,1989,0,4100,0.770,12,145,128,0,129,0,0.435,0.0
4,دانش آموز اصفهانی,گفتن این دروغ ها فقط از حیوونایی چون شما بر می...,140,176,0,1259,0.795,0,299,115,0,116,0,0.443,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,اعدام آرش احمدی ترور,🎥 آرش احمدی عضو گروهک تروریستی کومله صبح امروز...,180,35,0,9987,5.143,0,151,1757,4,1759,0,0.837,0.0
787,دانشگاه تهران مجازی رمضان,🔴 تعطیلی کامل دانشگاه تهران به بهانه ماه رمضان...,16723,274,65,23894,61.033,15,284,2673,7,2674,0,0.984,0.0
788,دانشگاه تهران مجازی رمضان,دانشگاه تهران از اواخر اسفند تا اواخر اردیبهشت...,1242,718,4,21046,1.730,0,148,2020,5,2022,0,0.634,0.0
789,دانشگاه تهران مجازی رمضان,#دانشگاه_تهران از ۱۴ فروردین تا ۷ اردیبهشت مجا...,20,358,0,135,0.056,0,200,97,0,98,1,0.053,1.0
790,دانشگاه تهران مجازی رمضان,دانشگاه‌ تهران کلاس‌های درسش رو تا ۹اردیبهشت ب...,253,200,1,3470,1.265,0,136,2250,6,2253,0,0.558,0.0

In [99]:
x = Data.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
data = pd.DataFrame(x_scaled)

In [100]:
data

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.000207,0.016009,0.000000,0.000563,4.649798e-06,0.000000,0.871972,0.057696,0.0000,0.056859,0.0,0.421
1,0.001273,0.059328,0.000000,0.001811,7.734761e-06,0.002338,0.816609,0.612738,0.5625,0.612262,0.3,0.548
2,0.000103,0.014285,0.000308,0.002446,2.599544e-06,0.000000,0.899654,0.020202,0.0000,0.019524,0.0,0.289
3,0.000699,0.051194,0.000000,0.008936,4.918056e-06,0.001477,0.366782,0.021743,0.0000,0.021065,0.0,0.435
4,0.000064,0.004530,0.000000,0.002736,5.077733e-06,0.000000,0.899654,0.019517,0.0000,0.018839,0.0,0.443
...,...,...,...,...,...,...,...,...,...,...,...,...
786,0.000082,0.000901,0.000000,0.021782,3.284878e-05,0.000000,0.387543,0.300633,0.2500,0.300223,0.0,0.837
787,0.007629,0.007052,0.019988,0.052130,3.898230e-04,0.001846,0.847751,0.457456,0.4375,0.456928,0.0,0.984
788,0.000567,0.018480,0.001230,0.045915,1.104966e-05,0.000000,0.377163,0.345660,0.3125,0.345265,0.0,0.634
789,0.000009,0.009214,0.000000,0.000284,3.576768e-07,0.000000,0.557093,0.016436,0.0000,0.015756,0.1,0.053
790,0.000115,0.005148,0.000308,0.007561,8.079663e-06,0.000000,0.335640,0.385037,0.3750,0.384826,0.0,0.558

In [101]:
# X = Data
# gm = GaussianMixture(n_components=6, random_state=0).fit_predict(X)

In [102]:
X = Data
kmeans = KMeans(n_clusters=10, random_state=0, n_init=1).fit_predict(X)

In [103]:
len(X)

791

In [104]:
kmeans

array([0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 0, 0, 0, 0, 0, 0, 4, 7, 7, 4, 0,
       4, 0, 0, 0, 0, 0, 0, 2, 4, 0, 0, 0, 0, 4, 4, 0, 0, 4, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 0, 0, 0, 4,
       0, 0, 0, 0, 4, 0, 1, 0, 4, 4, 4, 0, 0, 0, 0, 0, 7, 0, 0, 0, 0, 7,
       3, 0, 4, 0, 7, 0, 0, 0, 0, 0, 0, 4, 0, 0, 6, 0, 0, 0, 6, 0, 6, 0,
       0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 7, 0, 0, 7, 0, 0, 4,
       7, 0, 7, 0, 2, 4, 0, 4, 4, 0, 0, 0, 4, 4, 0, 0, 0, 7, 0, 0, 0, 0,
       0, 4, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 4, 0, 4, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 8, 8, 0, 7, 0, 0, 0, 0, 0,
       7, 6, 5, 0, 0, 0, 0, 0, 0, 9, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0,
       0, 0, 6, 0, 0, 2, 0, 0, 4, 0, 0, 6, 0, 5, 1, 0, 0, 0, 0, 2, 0, 0,
       4, 4, 0, 7, 0, 0, 0, 0, 6, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       4, 0, 0, 0, 6, 0, 1, 0, 0, 6, 0, 0, 2, 0, 4, 0, 0, 0, 0, 4, 0, 0,
       4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 0, 0, 0, 0, 0, 4,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 4, 4, 0,
       7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 4, 0, 0,
       4, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       6, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 2, 0, 0, 0,
       0, 0, 7, 0, 0, 0, 6, 0, 0, 2, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 0, 4,
       0, 4, 0, 4, 4, 0, 0, 0, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 3, 0,
       0, 0, 0, 6, 0, 0, 4, 0, 0, 0, 0, 0, 0, 4, 0, 4, 0, 0, 2, 7, 0, 0,
       7, 0, 9, 0, 0, 0, 2, 0, 0, 0, 2, 0, 9, 7, 7, 2, 0, 4, 0, 8, 7, 2,
       0, 4, 0, 0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 4, 0,
       7, 7, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 2, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 4, 4, 0,
       0, 4, 0, 4, 4, 4, 0, 7, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 4, 0, 0, 0, 0, 0, 0, 7, 7, 7,
       0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 7, 0, 7, 7,
       2, 2, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 4, 0, 0, 0, 0, 0],
      dtype=int32)

In [105]:
predicted = []
for i in range (len(kmeans)):
    if(kmeans[i] == 0  ):
        predicted.append(0)
    else:
        predicted.append(1)
    
# pred = []   
# for i in range(len(predicted)):
#     n = random.randint(0,100)
#     if(n < 25):
#         if(predicted[i] == 0):
#             pred.append(1)
#         else:
#             pred.append(0)
#     else:
#         pred.append(predicted[i])

In [106]:
# predicted

In [107]:
# accuracy_score(target, gm)

In [108]:
Data['target'] = predicted
data['target'] = predicted

In [109]:
Data

,followers_count,followings_count,listed_count,statuses_count,user_effect,retweet_count,tweet_length,time_span,registration_age,registration_age_days,hashtags_count,r_score,target
0,453,622,0,263,0.728,0,291,338,0,338,0,0.421,0
1,2791,2305,0,835,1.211,19,275,3580,9,3581,3,0.548,0
2,226,555,1,1126,0.407,0,299,119,0,120,0,0.289,0
3,1532,1989,0,4100,0.770,12,145,128,0,129,0,0.435,0
4,140,176,0,1259,0.795,0,299,115,0,116,0,0.443,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,180,35,0,9987,5.143,0,151,1757,4,1759,0,0.837,0
787,16723,274,65,23894,61.033,15,284,2673,7,2674,0,0.984,0
788,1242,718,4,21046,1.730,0,148,2020,5,2022,0,0.634,0
789,20,358,0,135,0.056,0,200,97,0,98,1,0.053,0
790,253,200,1,3470,1.265,0,136,2250,6,2253,0,0.558,0

In [110]:
data.to_excel('T6normal.xlsx', index=False)
Data.to_excel('T6.xlsx', index=False)

In [353]:
tr = pd.DataFrame(target , columns=['target'])
tr.to_excel('trgt1.xlsx', index=False)